<!DOCTYPE html>

<html>

<head>

    <title>Admin{% block titleBase %}{% endblock %}</title>

    <meta charset="UTF-8">

    {% block head %}{% endblock %}
    <!--   viewport, pas de zoom -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <!--    POLICE -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <!--    BOOTSTRAP -->
    <link href="/bootstrap/css/bootstrap.min.css" media="print,screen" rel="stylesheet"/>
    <!--    MATERIALIZECSS -->
   {# <link href="/materialize/css/materialize.min.css" media="print,screen" rel="stylesheet"/>#}
    <!--   SASS -->
    <link href="/css/SASS/css/adminSass.css" media="print,screen" rel="stylesheet"/>
    <!-- DATATABLE CSS -->
    <link rel="stylesheet" href="/css/dataTable.min.css">
    <!--    JQUERY -->
   <script type="text/javascript" src="/scripts/jquery-3.1.1.min.js"></script>

</head>

<body>
<a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>


{{ include('AdminUserBundle:Base:nav1.html.twig') }}




{{ include('AdminUserBundle:Base:nav2.html.twig') }}
<div class="content">

{% for flash_message in app.session.flashBag.get('error') %}
    <div class="flash-notice flash-bg-red">
        <p>{{ flash_message }}</p>
    </div>
{% endfor %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="flash-notice flash-bg-24bd24">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <div class="DUCSSs">
        {% block principal %}{% endblock %}


        {{ include('AdminUserBundle:Base:footer.html.twig') }}
    </div>
</div>

{% block script %}
    {{ parent() }}
{% endblock %}
</body>


<!-- DATATABLE JS -->

<script type="text/javascript" src="/scripts/dataTable.min.js"></script>

<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

{#<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>#}

<script type="text/javascript" src="/scripts/hollux.js"></script>


</html>



