<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.nom) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.nom) }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.prenom) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.prenom) }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.adresse) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.adresse) }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.codepostal) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.codepostal) }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.ville) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.ville) }}
    </div>
</div>
