<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.ageanimal) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.ageanimal) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.ageanimalautre) }}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.lotanimaux) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.lotanimaux) }}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.nanimal) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.nanimal) }}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.nbranimaux) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.nbranimaux) }}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.description) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.description) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.descriptionautre) }}
    </div>
</div>
