<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.laboratoire) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.laboratoire) }}
    </div>
    <div class="col-md-2">
        {{ form_widget(formanabel.laboratoireautre) }}
    </div>
    <div class="col-md-2">
        {{ form_label(formanabel.dateprelevement) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.dateprelevement) }}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.prelevement) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.prelevement) }}
    </div>
    <div class="col-md-2">
        {{ form_widget(formanabel.prelevementautre) }}
    </div>
    <div class="col-md-2">
        {{ form_label(formanabel.datereception) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.datereception) }}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.motifanalyse) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.motifanalyse) }}
    </div>
    <div class="col-md-2">
        {{ form_widget(formanabel.motifanalyseautre) }}
    </div>
    <div class="col-md-2">
        {{ form_label(formanabel.dateanalyse) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.dateanalyse) }}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.dossiersuivipar) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.dossiersuivipar) }}
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        {{ form_label(formanabel.datesaisie) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.datesaisie) }}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        {{ form_label(formanabel.nanalyselabo) }}
    </div>
    <div class="col-md-3">
        {{ form_widget(formanabel.nanalyselabo) }}
    </div>
</div>

<div class="commentaire">
    {{ form_widget(formanabel.commentaire) }}
</div>