{#
<div class="row">
    <div class="col-md-4">
       #}
{# {{ form_widget(formanabel.avortement) }}{{ form_label(formanabel.avortement) }}#}{#

    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.bacteriologieautreorganes) }}{{ form_label(formanabel.bacteriologieautreorganes) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.bacteriologiefeces) }}{{ form_label(formanabel.bacteriologiefeces) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.comptagecellulaire) }}{{ form_label(formanabel.comptagecellulaire) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.bacteriologielaitmammite) }}{{ form_label(formanabel.bacteriologielaitmammite) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.parasitologie) }}{{ form_label(formanabel.parasitologie) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.pcr) }}{{ form_label(formanabel.pcr) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.inhibiteurslait) }}{{ form_label(formanabel.inhibiteurslait) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.serologie) }}{{ form_label(formanabel.serologie) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.virologieautresorganes) }}{{ form_label(formanabel.virologieautresorganes) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(formanabel.virologiefeces) }}{{ form_label(formanabel.virologiefeces) }}
    </div>
</div>#}
