
<h3>Bacteriologie</h3>
 
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.bacteriologiebrucella) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.bacteriologiebrucella) }}
                </div>
                
            </div>
            {{ form_errors(form.bacteriologiebrucella) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.bacteriologieidentificationbrucella) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.bacteriologieidentificationbrucella) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.bacteriologieidentificationbrucellaautre) }}
                    {{ form_errors(form.bacteriologieidentificationbrucellaautre) }}
                </div>
            </div>
            {{ form_errors(form.bacteriologieidentificationbrucella) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.bacteriologielisteria) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.bacteriologielisteria) }}
                </div>
                
            </div>
            {{ form_errors(form.bacteriologielisteria) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.bacteriologieidentificationlisteria) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.bacteriologieidentificationlisteria) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.bacteriologieidentificationlisteriaautre) }}
                    {{ form_errors(form.bacteriologieidentificationlisteriaautre) }}
                </div>
            </div>
            {{ form_errors(form.bacteriologieidentificationlisteria) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.bacteriologiesalmonella) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.bacteriologiesalmonella) }}
                </div>
                
            </div>
            {{ form_errors(form.bacteriologiesalmonella) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.bacteriologieidentificationsalmonella) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.bacteriologieidentificationsalmonella) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.bacteriologieidentificationsalmonellaautre) }}
                    {{ form_errors(form.bacteriologieidentificationsalmonellaautre) }}
                </div>
            </div>
            {{ form_errors(form.bacteriologieidentificationsalmonella) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.bacteriologieautrebacteriologie) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.bacteriologieautrebacteriologie) }}
                </div>
                
            </div>
            {{ form_errors(form.bacteriologieautrebacteriologie) }}