
<h3>PCR</h3>
 
    {% if val.pcrbrucella and val.pcrbrucella != "Non testé" %}
        <div class="row">
            <div class="col-xs-4">
                <p><strong>brucella</strong></p>
            </div>
            <div class="col-xs-8">
                {{ val.pcrbrucella }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrmethodebrucella and val.pcrmethodebrucella != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>méthode</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrmethodebrucella }}
            </div>
        </div>
    {% endif %}
    {% if val.pcridentificationbrucella and val.pcridentificationbrucella != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>identification</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcridentificationbrucella }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrresultatquantitatifbrucella and val.pcrresultatquantitatifbrucella != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>resultat quantitatif</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrresultatquantitatifbrucella }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrbvd and val.pcrbvd != "Non testé" %}
        <div class="row">
            <div class="col-xs-4">
                <p><strong>BVD</strong></p>
            </div>
            <div class="col-xs-8">
                {{ val.pcrbvd }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrmethodebvd and val.pcrmethodebvd != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>méthode</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrmethodebvd }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrresultatquantitatifbvd and val.pcrresultatquantitatifbvd != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>resultat quantitatif</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrresultatquantitatifbvd }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrchlamydia and val.pcrchlamydia != "Non testé" %}
        <div class="row">
            <div class="col-xs-4">
                <p><strong>chlamydia</strong></p>
            </div>
            <div class="col-xs-8">
                {{ val.pcrchlamydia }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrmethodechlamydia and val.pcrmethodechlamydia != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>méthode</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrmethodechlamydia }}
            </div>
        </div>
    {% endif %}
    {% if val.pcridentificationchlamydia and val.pcridentificationchlamydia != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>identification</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcridentificationchlamydia }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrresultatquantitatifchlamydia and val.pcrresultatquantitatifchlamydia != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>resultat quantitatif</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrresultatquantitatifchlamydia }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrcoxiellaburnetii and val.pcrcoxiellaburnetii != "Non testé" %}
        <div class="row">
            <div class="col-xs-4">
                <p><strong>coxiella burnetii (Fièvre Q)</strong></p>
            </div>
            <div class="col-xs-8">
                {{ val.pcrcoxiellaburnetii }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrmethodecoxiellaburnetii and val.pcrmethodecoxiellaburnetii != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>méthode</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrmethodecoxiellaburnetii }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrresultatquantitatifcoxiellaburnetii and val.pcrresultatquantitatifcoxiellaburnetii != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>resultat quantitatif</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrresultatquantitatifcoxiellaburnetii }}
            </div>
        </div>
    {% endif %}
    {% if val.pcribr and val.pcribr != "Non testé" %}
        <div class="row">
            <div class="col-xs-4">
                <p><strong>IBR</strong></p>
            </div>
            <div class="col-xs-8">
                {{ val.pcribr }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrmethodeibr and val.pcrmethodeibr != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>méthode</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrmethodeibr }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrresultatquantitatifibr and val.pcrresultatquantitatifibr != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>resultat quantitatif</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrresultatquantitatifibr }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrleptospira and val.pcrleptospira != "Non testé" %}
        <div class="row">
            <div class="col-xs-4">
                <p><strong>leptospira</strong></p>
            </div>
            <div class="col-xs-8">
                {{ val.pcrleptospira }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrmethodeleptospira and val.pcrmethodeleptospira != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>méthode</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrmethodeleptospira }}
            </div>
        </div>
    {% endif %}
    {% if val.pcridentificationleptospira and val.pcridentificationleptospira != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>identification</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcridentificationleptospira }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrresultatquantitatifleptospira and val.pcrresultatquantitatifleptospira != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>resultat quantitatif</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrresultatquantitatifleptospira }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrleucose and val.pcrleucose != "Non testé" %}
        <div class="row">
            <div class="col-xs-4">
                <p><strong>leucose</strong></p>
            </div>
            <div class="col-xs-8">
                {{ val.pcrleucose }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrmethodeleucose and val.pcrmethodeleucose != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>méthode</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrmethodeleucose }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrresultatquantitatifleucose and val.pcrresultatquantitatifleucose != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>resultat quantitatif</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrresultatquantitatifleucose }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrneospora and val.pcrneospora != "Non testé" %}
        <div class="row">
            <div class="col-xs-4">
                <p><strong>neospora</strong></p>
            </div>
            <div class="col-xs-8">
                {{ val.pcrneospora }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrmethodeneospora and val.pcrmethodeneospora != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>méthode</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrmethodeneospora }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrresultatquantitatifneospora and val.pcrresultatquantitatifneospora != "Non testé" %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <p><strong>resultat quantitatif</strong></p>
            </div>
            <div class=" col-xs-7">
                {{ val.pcrresultatquantitatifneospora }}
            </div>
        </div>
    {% endif %}
    {% if val.pcrautrepcr and val.pcrautrepcr != "Non testé" %}
        <div class="row">
            <div class="col-xs-4">
                <p><strong>autre</strong></p>
            </div>
            <div class="col-xs-8">
                {{ val.pcrautrepcr }}
            </div>
        </div>
    {% endif %}