
<h3>Serologie</h3>
 
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologieadenovirus) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologieadenovirus) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieadenovirus) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodeadenovirus) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodeadenovirus) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodeadenovirusautre) }}
                    {{ form_errors(form.serologiemethodeadenovirusautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodeadenovirus) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologietypageadenovirus) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologietypageadenovirus) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologietypageadenovirusautre) }}
                    {{ form_errors(form.serologietypageadenovirusautre) }}
                </div>
            </div>
            {{ form_errors(form.serologietypageadenovirus) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifadenovirus) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifadenovirus) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifadenovirus) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologieanaplasma) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologieanaplasma) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieanaplasma) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodeanaplasma) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodeanaplasma) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodeanaplasmaautre) }}
                    {{ form_errors(form.serologiemethodeanaplasmaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodeanaplasma) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieidentificationanaplasma) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieidentificationanaplasma) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologieidentificationanaplasmaautre) }}
                    {{ form_errors(form.serologieidentificationanaplasmaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologieidentificationanaplasma) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifanaplasma) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifanaplasma) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifanaplasma) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologiebesnoitiabesnoiti) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologiebesnoitiabesnoiti) }}
                </div>
                
            </div>
            {{ form_errors(form.serologiebesnoitiabesnoiti) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodebesnoitiabesnoiti) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodebesnoitiabesnoiti) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodebesnoitiabesnoitiautre) }}
                    {{ form_errors(form.serologiemethodebesnoitiabesnoitiautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodebesnoitiabesnoiti) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifbesnoitiabesnoiti) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifbesnoitiabesnoiti) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifbesnoitiabesnoiti) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologiebrucella) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologiebrucella) }}
                </div>
                
            </div>
            {{ form_errors(form.serologiebrucella) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodebrucella) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodebrucella) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodebrucellaautre) }}
                    {{ form_errors(form.serologiemethodebrucellaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodebrucella) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieidentificationbrucella) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieidentificationbrucella) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologieidentificationbrucellaautre) }}
                    {{ form_errors(form.serologieidentificationbrucellaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologieidentificationbrucella) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifbrucella) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifbrucella) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifbrucella) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologiebvd) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologiebvd) }}
                </div>
                
            </div>
            {{ form_errors(form.serologiebvd) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodebvd) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodebvd) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodebvdautre) }}
                    {{ form_errors(form.serologiemethodebvdautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodebvd) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifbvd) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifbvd) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifbvd) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologiechlamydia) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologiechlamydia) }}
                </div>
                
            </div>
            {{ form_errors(form.serologiechlamydia) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodechlamydia) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodechlamydia) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodechlamydiaautre) }}
                    {{ form_errors(form.serologiemethodechlamydiaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodechlamydia) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieidentificationchlamydia) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieidentificationchlamydia) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologieidentificationchlamydiaautre) }}
                    {{ form_errors(form.serologieidentificationchlamydiaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologieidentificationchlamydia) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifchlamydia) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifchlamydia) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifchlamydia) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologiechlamydophila) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologiechlamydophila) }}
                </div>
                
            </div>
            {{ form_errors(form.serologiechlamydophila) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodechlamydophila) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodechlamydophila) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodechlamydophilaautre) }}
                    {{ form_errors(form.serologiemethodechlamydophilaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodechlamydophila) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieidentificationchlamydophila) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieidentificationchlamydophila) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologieidentificationchlamydophilaautre) }}
                    {{ form_errors(form.serologieidentificationchlamydophilaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologieidentificationchlamydophila) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifchlamydophila) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifchlamydophila) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifchlamydophila) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologiecoxiellaburnetii) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologiecoxiellaburnetii) }}
                </div>
                
            </div>
            {{ form_errors(form.serologiecoxiellaburnetii) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodecoxiellaburnetii) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodecoxiellaburnetii) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodecoxiellaburnetiiautre) }}
                    {{ form_errors(form.serologiemethodecoxiellaburnetiiautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodecoxiellaburnetii) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifcoxiellaburnetii) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifcoxiellaburnetii) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifcoxiellaburnetii) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologieerlichia) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologieerlichia) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieerlichia) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodeerlichia) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodeerlichia) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodeerlichiaautre) }}
                    {{ form_errors(form.serologiemethodeerlichiaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodeerlichia) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatiferlichia) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatiferlichia) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatiferlichia) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologiefco) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologiefco) }}
                </div>
                
            </div>
            {{ form_errors(form.serologiefco) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodefco) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodefco) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodefcoautre) }}
                    {{ form_errors(form.serologiemethodefcoautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodefco) }}
    	RAJOUTER TITRE
    
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologietypage1fco) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologietypage1fco) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologietypage1fcoautre) }}
                    {{ form_errors(form.serologietypage1fcoautre) }}
                </div>
            </div>
            {{ form_errors(form.serologietypage1fco) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatif1fco) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatif1fco) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatif1fco) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologietypage2fco) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologietypage2fco) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologietypage2fcoautre) }}
                    {{ form_errors(form.serologietypage2fcoautre) }}
                </div>
            </div>
            {{ form_errors(form.serologietypage2fco) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatif2fco) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatif2fco) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatif2fco) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologieibr) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologieibr) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieibr) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodeibr) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodeibr) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodeibrautre) }}
                    {{ form_errors(form.serologiemethodeibrautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodeibr) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifibr) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifibr) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifibr) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologieleptospira) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologieleptospira) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieleptospira) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodeleptospira) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodeleptospira) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodeleptospiraautre) }}
                    {{ form_errors(form.serologiemethodeleptospiraautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodeleptospira) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieidentificationleptospira) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieidentificationleptospira) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologieidentificationleptospiraautre) }}
                    {{ form_errors(form.serologieidentificationleptospiraautre) }}
                </div>
            </div>
            {{ form_errors(form.serologieidentificationleptospira) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifleptospira) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifleptospira) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifleptospira) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologiemycoplasma) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologiemycoplasma) }}
                </div>
                
            </div>
            {{ form_errors(form.serologiemycoplasma) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodemycoplasma) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodemycoplasma) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodemycoplasmaautre) }}
                    {{ form_errors(form.serologiemethodemycoplasmaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodemycoplasma) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieidentificationmycoplasma) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieidentificationmycoplasma) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologieidentificationmycoplasmaautre) }}
                    {{ form_errors(form.serologieidentificationmycoplasmaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologieidentificationmycoplasma) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifmycoplasma) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifmycoplasma) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifmycoplasma) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologieneospora) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologieneospora) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieneospora) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodeneospora) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodeneospora) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodeneosporaautre) }}
                    {{ form_errors(form.serologiemethodeneosporaautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodeneospora) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifneospora) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifneospora) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifneospora) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologieparainfluenzapi3) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologieparainfluenzapi3) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieparainfluenzapi3) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodeparainfluenzapi3) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodeparainfluenzapi3) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodeparainfluenzapi3autre) }}
                    {{ form_errors(form.serologiemethodeparainfluenzapi3autre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodeparainfluenzapi3) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifparainfluenzapi3) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifparainfluenzapi3) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifparainfluenzapi3) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologiersv) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologiersv) }}
                </div>
                
            </div>
            {{ form_errors(form.serologiersv) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodersv) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodersv) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodersvautre) }}
                    {{ form_errors(form.serologiemethodersvautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodersv) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifrsv) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifrsv) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifrsv) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologievisnamaedi) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologievisnamaedi) }}
                </div>
                
            </div>
            {{ form_errors(form.serologievisnamaedi) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologiemethodevisnamaedi) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologiemethodevisnamaedi) }}
                </div>
                
                <div class="col-xs-6 col-xs-offset-6">
                    {{ form_widget(form.serologiemethodevisnamaediautre) }}
                    {{ form_errors(form.serologiemethodevisnamaediautre) }}
                </div>
            </div>
            {{ form_errors(form.serologiemethodevisnamaedi) }}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    {{ form_label(form.serologieresultatquantitatifvisnamaedi) }}
                </div>
                <div class=" col-xs-7">
                    {{ form_widget(form.serologieresultatquantitatifvisnamaedi) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieresultatquantitatifvisnamaedi) }}
            <div class="row">
                <div class="col-xs-4">
                    {{ form_label(form.serologieautrepcr) }}
                </div>
                <div class="col-xs-8">
                    {{ form_widget(form.serologieautrepcr) }}
                </div>
                
            </div>
            {{ form_errors(form.serologieautrepcr) }}