{% extends":Croton:base.html.twig" %}

{% block principal %}
    <h1 class="text-center">Hollux & Solveig : candidature</h1>
    <p>Crotonneux, Crotonneuses, bonjour !</p>
    <br>
    <p>Ceci est une candidature (oui oui) pour rejoindre la Communauté du Croton. Vous voulez tout savoir de nous, tenez
        absolument à nous connaître, que ce soit dans la vie réelle ou en jeu : nous nous dévoilons devant vos yeux
        ébahis !</p>
    <p>Nous avons utilisé nos métiers respectifs pour faire preuve d’originalité, et vous offrir une présentation de
        qualité :) Info : c’est Solveig à la rédac’.</p>
    <row>
        <div class="col-md-6 text-center"><img class="imgPrincipal" src="{{ asset('img/wakfu/holux.jpg') }}" alt="holux"></div>
        <div class="col-md-6 text-center"><img class="imgPrincipal" src="{{ asset('img/wakfu/eni-croton.jpg') }}" alt="okuri"></div>
    </row>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Qui sommes-nous ?</h2>
            <br>
            <p>Nous sommes un couple de joueurs qui parcourent le Krosmoz depuis maintenant plus de dix ans; nous nous
                sommes arrêtés en l'ère du Wakfu depuis trois ans.</p>

            <p><b>Hollux</b> = Adrien, 25 ans, développeur web (vous êtes sur son site), grand amateur de jeux en tous
                genres,
                du Munchkin à Wakfu en passant par Warhammer ou Netrunner.</p>

            <p><b>Solveig</b> = Solveig (eh oui, c’est un vrai prénom !), 22 ans, graphiste. J’aime les jeux, la
                calligraphie,
                le tir à l’arc et tout un tas d’autres choses. Fondue de mythologie.</p>

            <p><b>Mais encore ?</b> Nous nous sommes rencontrés sur Dofus. Déjà à l’époque, Hollux avait sa team avec
                les 14
                premières classes 200 (bon, il ne les jouait pas toutes en même temps hein), et une bonne vue d’ensemble
                des stratégies. Pour ma part j’étais monocompte, et je jouais une cra 200.<br> Nous étions dans la
                guilde
                Dragon’s Heart, Silvosse RPZ ! J’y ai été Bras Droit pendant plusieurs années.</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">En jeu</h2>
            <br>
            <p>À nous deux, nous jouons 15 personnages (bontarien) en triple héros: 5 de mon côté, 10 chez Hollux. Le niveau moyen est aux environs
                de 170/175.<br> Évidemment on ne les joue pas tous tout le temps, mais tous nous plaisent alors on
                n’arrive pas vraiment à rester sur une team fixe !</p>

            <p><b>Métiers :</b> Nous avons quelques métiers 100 : ébéniste, herboriste, paysan, mineur, forestier.
                D’autres sont en cours de leveling : trappeur (bientôt fini, ouf !), armurier, boulanger, cuisinier.</p>

            <p>Hollux et moi sommes assez différents dans notre façon d’appréhender le jeu : j’aime beaucoup les
                métiers, les quêtes et le background, alors que lui est plus tourné sur la stratégie, le challenge et le
                farm à la dure.</p>

            <p>Nous sommes tournés vers le PVM, et un peu de métiers, mais pas du tout de PVP pour l’instant.</p>

            <p>Tous les personnages équipés ont 12 PA, et la plupart 6PM (5 pour l’Osamodas et le Xélor).</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Pourquoi la Communauté du Croton ?</h2>
            <br>
            <p>Nous sommes depuis environ deux ans dans la guilde Owange Mécanique. Nous y étions bien, malheureusement
                la guilde glisse peu à peu vers l’inactivité et nous sommes régulièrement les seuls connectés. Nous
                trouvons dommage d'être tout seul dans une guilde.</p>

            <p>La Communauté du Croton correspond à ce que nous recherchons : des compagnons de jeu, une belle entraide,
                le système de parrainnage et la sensibilité à l’écologie douzienne. Par ailleurs, Crimson-Nail nous a
                déjà tous les deux aidés alors qu’il ne nous connaissait pas, et nous apprécions cette mentalité.</p>

            <p>De plus, la Communauté est une “institution”, dans le sens où elle semble établie et stable. Ça tombe
                bien, nous cherchons une compagnie où l’on puisse rester et s’investir !</p>
        </div>
    </div>
    <br>
    <p><b>Solveig</b> en bad.</p>
    <p><b>Hollux</b> envers et croton tous.</p>
    <br>
    <div id="btnStuffs" class="btn btn-primary">Voir les stuffs</div>
    <div id="stuffs">
        <h2>Les stuffs</h2>

        <div class="row">
            <div class="col-md-1 col-sm-1">
                <p>Holux</p>
                <p>xelor - 185</p>
                <p>tri - distance/zone</p>
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/holuxStuff.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Crasthor
                Cra - 185
                terre/feu distance
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/crasthorStuff.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Feecah Raboss
                feca - 182
                tank
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/feecahrabossStuff.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Elspethh
                panda - 180
                eau/feu support/zone
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/elspethhStuff.jpg') }}" alt="persos" class="persos"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1">
                Polpot
                Sacri - 159
                air/feu tanky mele
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/polpotStuff.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Holluwx
                elio - 150
                indéfini
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/holluwxStuff.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Hanatsukii
                Roublard - 179
                terre/air monok
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/hanatsukiiStuff.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Hephai
                enu - 177
                eau/terre mono
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/stuff-enu.jpg') }}" alt="persos" class="persos"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1">
                Rexii
                zobal - 175
                eau/air - mele/heal
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/rexiiStuff.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Unforii
                steamer - 174
                feu/stasis distance
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/unforiiStuff.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Diana Agrotera
                cra - 173
                terre/air distance
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/stuff-cra.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Kybele
                sadi - 172
                eau/air support
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/stuff-sadi.jpg') }}" alt="persos" class="persos"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1">
                Corybante
                osa - 170
                feu/air
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/stuff-osa.jpg') }}" alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Okuri
                eni - 164
                eau/air soin
            </div>
            <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/stuff-eni.jpg') }}" alt="persos" class="persos"></div>
            {#<div class="col-md-1 col-sm-1">
                Polpot
                Sacri - 159
                air/feu tanky mele
            </div>
            <div class="col-md-2 col-sm-2"><img src={{ asset('img/wakfu/polpotStuff.jpg') }}"/alt="persos" class="persos"></div>
            <div class="col-md-1 col-sm-1">
                Holluwx
                elio - 150
                indéfini
            </div>
            <div class="col-md-2 col-sm-2"><img src={{ asset('img/wakfu/crasthor.jpg') }}"/alt="persos" class="persos"></div>#}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/crasthor.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/feecahraboss.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/elspethh.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/hanatsukii.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/enu-croton.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/rexii.jpg') }}" alt="persos" class="persos"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/unforii.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/cra-croton.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/sadi-croton.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/osa-croton.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/polpot.jpg') }}" alt="persos" class="persos"></div>
        <div class="col-md-2 col-sm-2"><img src="{{ asset('img/wakfu/unfor.jpg') }}" alt="persos" class="persos"></div>
    </div>

    <script>
        $("#btnStuffs").click(function(){
            $("#stuffs").fadeToggle("slow");
        });
    </script>

{% endblock %}