{% extends":HolluxBase:base.html.twig" %}


{% block title %}Login{% endblock %}

{% block principal %}


    <h1>Formulaire d'inscription</h1>


    {% if error %}
        <div>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}


    <form action="{{ path('login') }}" method="post">
        <label for="username">Name :</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
        <br>
        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="_password"/>
        <br>
        <button class="btn btn-success" type="submit">login</button>
    </form>
    <br>
    <a href="{{ path('register') }}" class="btn btn-primary">Register</a>
    </br>
    <a href="{{ path('resetpassword') }}" class="btn btn-danger">Mot de passe oublié ?</a>



{% endblock %}